@using PCShop.Models

@model ProductVM
@{
    ViewBag.Title = "All Products";
}
<h3>   </h3>

<div class="active">
    <a href="/PCShop/Login" class="btn btn-primary">Login</a>
    <a href="/PCShop/Register" class="btn btn-primary">Register</a>
</div>

<div>
    <form>
        <h3><b>Browse: </b></h3>@Html.DropDownListFor(m => m.CategoryID, Model.CategoriesAsSelectListItem)
        <input type="submit" value="Filter" name="SubmitButton" />
    </form>
</div>
<div>
    <table class="table table-bordered table-hover table-striped">
        <tr class="info">
            <th>
                Category
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Details
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
            </tr>
        }

    </table>
</div>

